body{
    background-color: rgb(43, 43, 75);
    color: white;
}

.add-element-wrapper input{
    width: 200px;
}

li {
    list-style-type: none;
    border: 1px solid white;
    padding: 10px;
}

i{
    cursor: pointer;
}