<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- Style CSS -->
        <link rel="stylesheet" href="./css/style.css">

        <!-- FONTAWSOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <title>Document</title>
    </head>
    <body>
        
        <div id="app">
            <div class="container text-center pt-3">
                <h1>To Do List</h1>
                <div class="add-element-wrapper mt-4">
                    <input type="text" placeholder="Scrivi qui una cosa da fare" v-model="newElementText" v-on:keyup.enter="addNewToDo">
                    <button class="btn btn-success d-block m-auto mt-2" @click="addNewToDo">Aggiungi alla lista</button>
                </div>
                <div class="list-wrapper text-start mt-4">
                    <ul>
                        <li v-for="(element, index) in todo" :class="(element.done === false) ? '' : 'd-none'" >
                            <i class="fa-solid fa-x me-2" @click="changeDone(index)"></i>
                            {{element.text}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- JAVA SCRIPT -->
        <script src="./js/myscript.js"></script>
    </body>
</html>